body {
    display: flex;
    margin: 0px;
    background-color: #f9fafb;
    font-family: Arial, Helvetica, sans-serif;
}

.splashimg{
    position: relative;
    width: 40vw;
    height: 100vh;
    --text-color: white;
    --link-color: white;
}

.splashimg>img {
    height: 100%;
    width: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: var(--text-color);
    top: 19.1%;
    height: 200px;
    width: 40%;
    background-color: #00000060;
}

.title>p {
    font-size: 100px;
    font-weight: 600;
}

.credit {
    position: fixed;
    bottom: 10px;
    left: 15%;
    font-size: large;
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.main {
    --padding: 60px;
    --link-color: #5388b3;
    align-self: top;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:  60vw;
}
p {
    font-size: 20px;
    font-weight: 550;
}
.big {
    font-size: 30px;
    font-weight:550;
}

.blurb {
    margin-top: 30px;
    padding-left: var(--padding);
    width: 47vw;
    margin-bottom: 30px;
}

input {
    -webkit-appearance: none;
    appearance: none;
}
form {
    justify-self: center;
}

fieldset {
    height: 30vh;
    border: 0px;
    padding-left: var(--padding);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset>p {
    margin-bottom: 10px;
}

fieldset>* {
    display: flex;
    gap: 100px;
}
fieldset>*>* {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input {
    border: 2px solid #e4e4e6;
    border-radius: 5px;
    height: 35px;
    width:  350px;
    font-size: 20px;
    text-indent: 10px;
}

input:focus{
    outline: none !important;
    border: 2px solid #5388b3;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid #ee2828;
}

input[type="submit"] {
    margin-left: var(--padding);
    margin-top : calc(var(--padding)/2);
    height: 60px;
    width: 300px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    background-color: #5388b3;
    box-shadow: 4px 4px 8px 2px #d3d2d2;;
}

.shadow{
    height: 10px;
    width: 60vw;
    background-image: linear-gradient(rgb(214, 214, 214), #ffffff)
}

.login {
    padding-left: var(--padding);
}

.login>p>a {
    text-decoration: none;
}